<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interet result</title>
</head>
<body>
    <h2>Interest Type  : <%= interestType  %> </h2>
    <p> Principal Value  :<%= principal  %> </p>
    <p> Interest Rate : <%= interestRate  %> </p>
    <p> Time in Year : <%= time  %> </p>

    <h3><%= interestType  %>  is : <%= result %> </h3>

    <div>
        <a href="/">Calculate Again</a>
    </div>
</body>
</html>